.about{
    background-color: #290a08;
    padding: 80px 0;
    overflow: hidden;
    .about-parent{
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        column-gap: 55px;
    }
    .title{
        font-size: 36px;
        text-transform: capitalize;
        color: #e3cb7b;
        font-weight: 700;
        margin-bottom: 25px;
    }
    .about-desc{
        p{
            font-size: 18px;
            line-height: 36px;
            color: #ffffff;
            margin-bottom: 25px;
        }
        .know-us{
            min-width: 181px;
            border-radius: 25px;
            font-size: 16px;
            color: #290a08;
            font-weight: 500;
            padding: 13px 43px;
            position: relative;
            z-index: 1;
            transition: all linear .3s;
            // background-size: 150%;
            // // background-size:1px 400px; 
            background-image: linear-gradient(#BBA259 , #876F32   , #8B7330   );
           
            &::before{
                content: "";
                position: absolute;
                inset: 0;
                background-image: linear-gradient(#AA161B , #E9383D  , #A1151C  );
                opacity: 0;
                z-index: -1;
                transition: all linear .3s;
                border-radius: 25px;
            }
            &:hover{
                color: #fff;
                &::before{
                    opacity: 1;
                }
            }
        }
    }
}

.about-vid-div{
    position: relative;
    display: block;
    .yotube-img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
    }
    .about-main-img{
        width: 100%;
        object-fit: cover;
    }
}

html[dir="ltr"]{
    .about .about-desc p{
        line-height: 1.5;
    }
}


@include max-992 {
    .about .title{
        font-size: 27px;
        margin-bottom: 15px;
    }
    .about .about-desc p{
        font-size: 16px;
        line-height: 1.65;
        text-align: justify;
    }
    .about .about-parent{
        column-gap: 25px;
    }
    .about .about-desc .know-us{
        min-width: auto;
        padding: 10px 35px;
    }
    .about{
        padding-bottom: 40px;
    }
}

@include max-768 {
    .about .about-parent{
        grid-template-columns: 1fr;
        row-gap: 30px;
    }
    .about-desc{
        text-align: center;
    }
    .about{
        padding: 40px 0 50px 0;
    }
    .about .title{
        font-size: 20px;
        text-align: center;
    }
    .about .about-desc p{
        margin-bottom: 20px;
    }
    .about-vid-div .yotube-img{
        width: 40px;
    }
}