.departments{
    padding: 50px 0 120px 0;
    background-color: $light-color;
}
.departments-parent{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    column-gap: 30px;
    row-gap: 45px;
}
.department-img{
    overflow: hidden;
    margin-bottom: 15px;
    img{
        width: 100% ;
        transition: all linear .3s;
        object-fit: cover;
    }
}
.department-title{
    padding: 0 20px;
    text-align: center;
    font-size: 16px;
    transition: all linear .2s;
    color: #ffffff;
    font-weight: 500;
    text-align: center;
    margin-bottom: 0;
}
.department-item{
    &:hover{
        .department-title{
            color: $second-color;
        }
        .department-img img {
            transform: scale(1.1);
        }
    }
    > a{
        display: block;
    }
}
html[dir="ltr"]{
    .department-title{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
    }
}


@include max-992 {
    .departments-parent{
        grid-template-columns: repeat(2 , 1fr);
    }
}

@include max-768 {
    .departments-parent{
        grid-template-columns:  1fr;
        column-gap: 20px;
        row-gap: 30px;
    }
    .departments{
        padding: 50px 0;
    }
    .department-img{
        margin-bottom: 10px;
    }
}