.gallery{
    padding: 85px 0  ;
    background-color: $dark-color;
    .shop-store {
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 45px;
        border-radius: 22px;
        background-image: linear-gradient(#BBA259 , #876F32   , #8B7330   );
        &:hover{
            // background-position: 0% 80%;
            background-image: linear-gradient(#AA161B , #E9383D  , #A1151C  );
            span{
                color: #fff;
            }
            i{
                color: #fff;
            }
        }
        i{
            font-size: 30px;
            color: #2b0e0c;
            margin-inline-end: 5px;
        }
        span{
            font-size: 18px;
            color: #2b0e0c;
            font-weight: 500;
            // transition: all linear .2s;
        }
    }
}
.shop-btn-div{
   display: flex;
   justify-content: center;
    margin-top: 35px;
}
.gallery-parent{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.gallery-img{
    position: relative;
    overflow: hidden;
    img{
        max-width: 100%;
        object-fit: cover;
    }
}
 .gallery-img::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.gallery-img:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}



@include max-1200 {
    .gallery-parent{
        grid-template-columns: repeat(3 , 1fr);
    }
    .gallery-parent .gallery-item{
        width: auto;
    }
    .gallery-img img{
        width: 100%;
    }
}

@include max-992 {
    .gallery-parent{
        gap:25px ;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .gallery-parent .gallery-item{
        width: calc(30% + 6px);
    }
}


@include max-768 {
    .gallery-parent{
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        gap: 20px;
    }
    .gallery{
        padding: 50px 0 60px 0;
    }
    .gallery-parent .gallery-item{
        width: 100%;
        max-width: 100%;
    }
    .gallery .shop-store{
        padding: 8px 30px;
        width: auto;
        height: auto;
    }
}