
.mainBanner{
    .mainslider-item{
        text-align: center;
        position: relative;
        figure {
            margin: 0;
            width: 100%;
            img {
                width: 100%;
                object-fit: cover;
            }
        }
    }
    .overlay{
        position: absolute;
        inset: 0;
        opacity: 0.502;
        background-color: #290a08;
        height: 100%;
        width: 100%;
        z-index: 1;
    }
    .swiper-pagination-bullet{
        background-color: #000 ;
        opacity: 0.502;
    }
    .swiper-pagination-bullet-active {
        background-color: #fff;
        opacity: 1;
    }
    
    .swiper-button-prev i, .swiper-rtl .swiper-button-next i , .swiper-button-next i, .swiper-rtl .swiper-button-prev i{
        color: #fff;
    }
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
        display: block;
      }
    .mainBanner-parent{
    position: relative;
   }

}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after , .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
    content: "";
}

.banner-desc{
    padding: 0 20px;
    width: 100%;
    text-align: center;
    position: absolute;
    z-index: 11;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    h2 {
        font-size: 48px;
        color: #ffffff;
        font-weight: 700;
        text-align: center;
        margin-bottom: 0;
    }
}




.mainBanner{
    .swiper-button-prev, .swiper-rtl .swiper-button-next, .swiper-button-next, .swiper-rtl .swiper-button-prev{
        width: 40px;
        height: 40px;
        background-image: linear-gradient( rgba(0 , 0 , 0 , 0.502) 0%, rgba(0 , 0 , 0 , 0.502) 50% , #8b732f 50%, #bba159 100% , );
        background-position: 0% 0%;
        transition: all linear .3s;
        background-size: 100% 300%;
        border-radius: 50%;
        transition: all linear 0.3s;
        margin-top: 0;
        top: 50%;
        color: #fff;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        i{
            font-size: 20px;
        }
        &:hover{
            background-position: 0% 80%;
            i{
              color: $light-color;
            }
        }
    }
    .swiper-button-prev, .swiper-rtl .swiper-button-next{
        left: 20px;
    }
    .swiper-button-next, .swiper-rtl .swiper-button-prev{
        right: 20px;
    }
    .mainslider-item{
        position: relative;
        height: 100%;
    }
    .swiper-button-prev, .swiper-rtl .swiper-button-next, .swiper-button-next, .swiper-rtl .swiper-button-prev i {
        font-size: 24px;
    }
    
}

.swiper-pagination-bullet-active{
    background-color: #fff;
}






@include max-992 {
    .mainBanner{
        .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
            bottom: 2px;
        }
    }
    .mainBanner .swiper-button-prev, .mainBanner .swiper-rtl .swiper-button-next, .mainBanner .swiper-button-next, .mainBanner .swiper-rtl .swiper-button-prev{
        display: none;
    }
   
}





@include max-768 {
    .banner-desc h2{
        font-size: 22px;
    }
    .mainBanner .mainslider-item figure img{
        min-height: 200px;
    }
}