.owner{
    overflow: hidden;
    padding: 50px 0;
    background-color: $light-color;
    background-image: url(../images/shape.png);
    background-repeat: no-repeat;
    background-position: center 0%;
    // background-size: cover;
}
.owner-parent{
    text-align: center;
    .owner-img{
        margin-bottom: 30px;
    }
    .owner-para{
       max-width: 69.1%;
        font-size: 24px;
        margin: auto;
        line-height: 42px;
        color: #ffffff;
        font-weight: 500;
        text-align: justify;
        text-align-last: center;
        margin-bottom: 40px;
        
    }
    .owner-name{
        span{
            font-size: 16px;
            text-transform: capitalize;
            color: #ffffff;
            margin-bottom: 10px;
            display: inline-block;
        }
        h3{
            font-size: 24px;
            text-transform: capitalize;
            color: #e3cb7b;
            font-weight: 500;
        }
    }
}

html[dir="ltr"]{
    .owner-parent .owner-para{
        line-height: 1.3;
    }
    
}


@include max-992 {
    .owner{
        background-image: none;
        padding-top: 30px;
    }
    .owner-parent .owner-para{
        max-width: 100%;
    }
}

@include max-768 {
    .owner-parent .owner-para{
        font-size: 16px;
        line-height: 1.8;
        margin-bottom: 25px;
    }
    .owner{
        padding: 20px 0 30px 0;
    }
    .owner-parent .owner-img{
        margin-bottom: 20px;
    }
    .owner-parent .owner-name h3{
        font-size: 20px;
    }
    html[dir=ltr] .owner-parent .owner-para{
        line-height: 1.5;
    }
}