body {
  font-weight: 400;
  font-style: normal;
  font-family: 'sst-Arabic' ;
}


html[dir = "rtl"] {
  body{
    text-align: right;
  }
}

html[dir = "ltr"] {
  body{
    text-align: left;
  }
}

.item-parent{
  position: relative;
}


.title-text {
font-size: 35px;
color: #e3cb7b;
font-weight: 700;
text-align: center;
text-transform: capitalize;
margin: 0;
margin-bottom: 30px;
}


img {
  image-rendering: -webkit-optimize-contrast ;
}

.ul-es {
  list-style: none;
  padding: 0;
  margin: 0;
}








// Basic ancor 

.ancor-btn {
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 0;
  &:hover{
    text-decoration: none;
    color: black;
  }
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  &:focus{
    text-decoration: none;
  }
}


// Scrollbar

::-webkit-scrollbar {
  width: 7px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background:  $second-color;
  border-radius: 15px;
}

::-webkit-scrollbar-track{
  background-color:  $light-color;
}




/*preloader*/
.preloader {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.progress {
  position: fixed;
  z-index: 222000;
  top: 0;
  width: 100%;
  height: 5px;
  background-color: $second-color;
  background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
  background-repeat: repeat-x;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  overflow: hidden;
}

.progress-bar {
  animation: progress 6s ease infinite;
  padding: 1px;
  background-color: $main-color;
  /* border-radius: 4px 4px 4px 4px; */
}
@keyframes progress {
  from {
    width: 0;
    color: rgba(255, 255, 255, 0);
  }
  to {
    width: 100%;
    color: rgba(255, 255, 255, 1);
  }
}
/*preloader*/





// Back to Top
.toTop{
// background-color: #ffffff;
background-image: linear-gradient(#fff 0%, #fff 50% , #8b732f 50%, #bba159 100%  );
background-position: 0% 0%;
transition: all linear .3s;
background-size: 100% 300%;
cursor : pointer;
  position: fixed;
  width: 40px;
  height: 40px;
  right: 20px;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  z-index: 100;
  transition: all linear .3s;
  opacity: 0;
  visibility: hidden;
  .toTop-icon{
    font-size: 20px;
    color: #000;
    transition: all linear .2s;
  }
}

  
.showToTop{
  opacity: 1;
  visibility: visible;
}





@include min-1200{
  .container, .container-lg, .container-md, .container-sm, .container-xl{
    max-width: 1170px;
  }
}


@include min-768 {
  .toTop{
    &:hover{
      background-position: 0% 80%;
  }
  }
}

@include max-768 {
  .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl{
    padding-right: 20px;
    padding-left: 20px;
  }
  .title-text{
    font-size: 20px;
  }
}












